 <%= render "partial/navbar" %>

 <section id="portfolio" class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="row row-space-2">
      <div class="col-lg-12 col-sm-12 text-center">
        <h3 class="text-primary section-heading">話題のドラマ</h3>
        <h4 class="text-primary section-subheading">mitano編集長がオススメする今話題のドラマです</h4>
      </div>
    </div>

    <div class="row">
      <% @dramas.each do |drama|%>
      <% if drama.id != 0 %>
      <div class="col-md-4 col-sm-6 portfolio-item ">
        <span style="vertical-align:middle;">
          <%= link_to image_tag("#{drama.image_url}"), drama_path(drama)  %>
        </span>
        <div class="text-info hidden-xs .bg-info">
          <%= link_to drama.title, drama_path(drama) %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</section>
<%= render 'partial/footer' %>