<%= render 'partial/navbar' %>
<div class="container2">
  <div class="row">
    <%= render  "partial/impressionContentsArea", impression: @impression %>
  </div>
</div>
<%= render 'partial/footer' %>

