<div class="row">
  <div class="page-header" style="margin-top:0px;padding-bottom:0px;">
    <h1><small>この感想にコメントする</small></h1>
  </div>
  <%= form_with(model: [impression, comment] ) do |form| %>
  <%= form.text_area :content, :class => 'form-control' %>
  <%= form.submit "コメント", :class => "btn square_btn" %>
  <% end %>
</div>