<div class="col-md-9 col-sm-9 col-xs-12  row-space-2 impression-overview">
 <% @users.each do |user| %>

 <div class="portfolio-caption">
  <span style="font-weight: bold;"></span>

  <div class="balloon5">
    <div class="faceicon">

      <% unless user.image.nil? %>
      <%= image_tag user.image, class:"img-circle profile-0" %>
      <% else %>
      <%= image_tag 'no-image', class:"img-circle profile-0" %>
      <% end %>
      <p><%= link_to "#{user.name}さん", user_path(user.id) %></p>
    </div>
  </div>

</div>
</div>
<% end %>
</div>