<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; mitano</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>              <div class="fb-share-button" data-href="https://www.mitano.jp/" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.mitano.jp%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
                    </li>

                    <!-- TODO mailto:でメーラーを立ち上げ -->
                    <li><a href="mailto:自分のメールアドレス?subject=お問い合わせ"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="text-white">
                        <%= link_to 'プライバシーポリシー', pages_privacy_policy_path %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>