<section class="bg-light-gray row-space-top-4 row-space-4">
  <div class="container">
    <div class="col-lg-12 col-xs-12 text-center">
      <div class="container">
        <!-- content -->
        <div class="row" style="padding:10px 0 0 0">
          <!-- main -->
          <div class="col-md-9 col-xs-12">
            <!-- apply custom style -->
            <div class="page-header" style="margin-top:-30px;padding-bottom:0px;">
              <h1><small><%= subtitle %>対するみんなの感想</small></h1>
            </div>
            <% if @impressions.empty? %>
            <h1><small>まだ感想はありません。最初の感想を投稿してみましょう</small></h1>
            <% end %>
            <% @impressions.each do |impression|%>
            <%= render  "partial/impressionContentsArea", impression: impression %>
            <% end %>
          </div>
          <div class="col-md-3 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                このドラマを観た人に人気の作品
              </div>
              <!-- <div class="panel-body"> -->
                <ul class="nav nav-pills nav-stacked">
                  <% @dramas.each do |drama|%>

                  <% if drama.id != 0 %>
                  <div class="">
                    <span style="vertical-align:middle;">
                      <%= link_to image_tag("#{drama.image_url}"), drama_path(drama)  %>
                    </span>
                    <p class="text-info hidden-xs .bg-info"><%= drama.title =%></p>
                  </div>
                  <% end %>
                  <% end %>
                </ul> 
                <!-- </div> -->
              </div>
            </div>
          </div>

        </div>
      </section>