<div class="col-md-3 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      このドラマを観た人に人気の作品
    </div>
    <ul class="nav nav-pills nav-stacked">
      <% @dramas.each do |drama|%>

      <% if drama.id != 0 %>
      <div class="">
        <span>
          <%= link_to image_tag("#{drama.image_url}"), drama_path(drama)  %>
        </span>
        <p class="text-info .bg-info"><%= drama.title =%></p>
      </div>
      <% end %>
      <% end %>
    </ul> 
  </div>
</div>