<div class="row">
  <div class="col-md-12 drama-title">
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <%= active_link_to "概要",drama_path(drama), :wrap_tag => :li %>

      </li>
      <% drama.seasons.order(:id).each do |season| %>
      <li class="nav-item dropdown">
        <%= active_link_to "シーズン #{season.season_no}",season_path(season), :wrap_tag => :li %>
      </li>
      <% end %>
    </ul>
    <h1 class="drama-title2">
      <%=title%>の作品情報・感想・評価 
    </h1>
  </div>
</div>