<div class="row">
  <div class="col-md-12 drama-title">
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <%= link_to "全て",drama_path(drama) %>

      </li>
      <% drama.seasons.each do |season| %>
      <li class="nav-item dropdown">
        <%= link_to "シーズン #{season.season_no}",season_path(season)%>
      </li>
      <% end %>
    </ul>
    <h1 class="drama-title2">
      <%= drama.title %> 
    </h1>
  </div>
</div>