 <%= render "partial/navbar" %>
  <div class="container left">
    <div class="row col-md-12">
      <div class="col-md-12">
        <h3 class="left">プライバシーポリシー</h3>
        <p >当サイトでは、以下のように個人情報保護方針を定め、ご利用になる皆様が安全にサイトを閲覧できるようその保護を推進いたします。</p>
      </div>
      <div class="col-md-12">
        <h3>個人情報の管理について</h3>
        <p >当サイトでは、セキュリティシステムの強化、その維持や改善における必要な措置を講じ、個人の情報への不正なアクセスや、紛失、破損、改ざん、漏洩などの防止に努め、個人情報の厳重な管理を行っております。</p>
      </div>
      <div class="col-md-12">
        <h3>個人情報の利用目的について</h3>
        <p >当サイトでは、メールでのお問い合わせの際や、コメントの際にお名前（ハンドルネーム）と、メールアドレス等の個人情報をご記入いただく場合がございます。これらの個人情報は、ご質問に対する回答や、必要な情報を電子メールなどでご連絡する場合に利用させていただく場合がございますが、個人情報をいただく際の目的以外では利用いたしません。</p>
      </div>
      <div class="col-md-12">
        <h3>個人情報の第三者への開示、提供の禁止について</h3>
        <p >当サイトでは、閲覧者の方からお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、その個人情報を第三者には開示いたしません。
        閲覧者本人の同意がある場合
        閲覧者の方が希望されるサービスを利用するために、当サイト管理人が業務を委託する業者に対して開示する必要がある場合。
        法令に基づき、個人情報の開示が必要になった場合</p>
      </div>
      <div class="col-md-12">
        <h3>個人情報の安全対策について</h3>
        <p >当サイトでは、個人情報の正確性、および安全性確保のために、セキュリティに万全の対策を講じています。また、必要に応じて適宜その強化、改善に努めます。</p>
      </div>
      <div class="col-md-12">
        <h3>広告配信について</h3>
        <p >当サイトでは、GoogleAdsenseや、A8.net、Performance Horizon Group等の第三者配信事業者が提供する広告を設置しており、また、その広告配信の一部にはCookieを使用しています。
この際、GoogleやGoogleのパートナーは、サイト閲覧者の方の、当サイト、またはその他のサイトへの過去のアクセス情報に基づき、DoubleClick Cookie を使用することによって、適切な広告を配信しています。
お客様はGoogleアカウントの広告設定ページで、インタレストベースでの広告掲載に使用される DoubleClick Cookie を無効にできます。また aboutads.info のページにアクセスして頂き、インタレスト ベースでの広告掲載に使用される第三者配信事業者のCookieを無効にできます。</p>
      </div>
      <div class="col-md-12">
        <h3>アクセス解析について</h3>
        <p >当サイトでは、Googleが提供するアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用していますが、そのトラフィックデータは匿名で収集されており、個人を特定するものではありません。この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細はGoogleアナリティクスサービス利用規約のページをご覧ください。</p>
      </div>
      <div class="col-md-12">
        <h3>Facebookアプリについて</h3>
        <p >当サイトでは、サイトとFacebookページとの連携を行うために、Facebookアプリを使用しています。このアプリを通じて得た情報も、個人を特定するものではありません。</p>
      </div>
    </div>
  </div>
