@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "social-share-button";

.facebook-1 {
  text-align: center;
  width: 80%;
}
.matome-title {
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}
.card-title {
  font-size: 20px;
}
.matome-midasi {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px black;/*上線*/
  border-bottom: solid 3px black;/*下線*/
}

.box26 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}

.item {
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0.5em auto;
    padding: 5px;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.8;
}
.item2 {
  margin: 0.5em auto;
  font-weight :bold;
  font-size: 1.6rem;
  border-bottom: solid 3px #cce4ff;
  position: relative;
  border-color:#ffb2b2;
}
.jumbotron {
  padding-top: 0px;
  position: relative;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(mitano.jpg);
	background-size: cover;
	// 背景画像の位置を決める
	background-position: 50% 50%;
	height: 520px;
	color: white;
}

.jumbotron2 {
  padding-top: 0px;
  position: relative;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) );
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  height: 420px;
  color: white;
}

.top-adjust {
  margin-top: 2px;
}

.left {
  text-align: left
}
.display-3 {
	color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 3.4;
    font-size: 100px;
}

.sub-title{
	color: white;
    margin-top: 9px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.7;
    margin-left: 1.1rem;
    font-size: 2rem;
}

.jumbotron .container .row{
    margin-top: 100px;
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(mitano.jpg);
}


.navbar {
  background-color: black;

}

.container-login {
    background-image:url(start.jpg);
    color: white;
}
.navbar-default {
background-color: black;
border-color: #3e6962;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-toggle .navbar-brand {
    color: white;
}

.navbar-default .icon-bar {
    background-color: black;
}

// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

body {
    color: #222;
    background-color: white;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    background-color: #4c66a4;
}

@media (min-width: 992px){
.profile-full {
        width: 100%;
    }    
}   
.profile-0 {
    width: 28px;
    height: 28px;
}

.row-space-1 {
  margin-bottom: 10px;
}

.row-space-2 {
  margin-bottom: 15px;
}

.row-space-3 {
  margin-bottom: 20px;
}

.row-space-4 {
  margin-bottom: 25px;
}

.row-space-5 {
  margin-bottom: -15px;
}

.btn-full {
    width: 100%;
}

.vertification-checked:before{
  content: "\f00c";
  font-family: FontAwesome;
  position: relative;
  z-index: 100;
  top:2px;
  font-size: 1.55em;
  text-align: center;
  width: 1.25em;
  color: #00d1c1;
}

.image-adjust{
  width: 300px;
  height: 200px;
}

.drama-title{
  color:black;
  position: relative;
  padding: 0.25em 0;
}
.drama-title:after {
  content: "";
  display: block;
  height: 4px;
  background: -moz-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}

.table{
  background-color: white;
}

section h2.section-heading {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;

}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
}

// フッターのCSS
footer {
    padding: 120px 0;
    text-align: center;
    background: #2b2d2e;
    height:250px;
}
footer {
    display: block;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #fff
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #d9534f;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

li.text-white a{
  color: #fff
}

ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
}

.balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
}

.says p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.episode-title{
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border: 1px solid #ccc;
}
.episode-title::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #3498db;
  border-radius: 4px;
}

.box1 {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-weight: bold;
    border: solid 3px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.episode-overview{

    margin-top: 0;

    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.episode-overview p {

}

.episode-summary {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
  word-wrap:break-word;
}
.kakomi-box8 {
   padding: 1em;
   border: 3px dashed #c0c0c0; /*太さ・線種・色*/
   color: #a0a0a0; /* 文字色 */
   background-color: #FFF; /* 背景色 */
   border-radius: 1px; /*角の丸み*/
}

.impression-overview{
    position: relative;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.impression-overview:before,.impression-overview:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.impression-overview:after {
    top:-12px;
    left:-12px;
}
.impression-overview:before {
    bottom:-12px;
    right:-12px;
}

.square_btn{
    display: inline-block;
    position: relative;
    padding: 0.5em 1.4em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
    border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.square_btn:before{    
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;

}

.square_btn:after{   
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
}

.square_btn:active{ /*ボタンを押したとき*/
    border:none;
    -ms-transform: translate(6px,6px);
    -webkit-transform: translate(6px,6px);
    transform: translate(6px,6px);
}

.square_btn:active:after,.square_btn:active:before {
    content: none;/*ボタンを押すと線が消える*/
}

.comment-layout  {
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.comment-layout  p {
    margin: 0; 
    padding: 0;
}
.top-layout {
    margin-top: 15px; 
}
.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
    font-size: 1.6rem;

}
.box7 p {
    margin: 0; 
    padding: 0;
}

.drama-title2{
  font-size: 1.2rem;
  font-weight: 300;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

@media screen and (max-width: 500px) {
  .display-3{
    font-size: 25px;
    line-height: 5.4;
  }
  .drama-title2{
    margin-left: 19px;
  }
  .episode-title {
    font-size: 1.4rem;
  }
  .matome-title {
    margin-top: 60px;
    font-size: 20px;
  }
.card-title {
  font-size: 20px;
}
.jumbotron {
  padding-top: 0px;
  position: relative;
  height: 250px;
}
.display-4 {
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 2.4;
    font-size: 20px;
}
.jumbotron2 {
  padding-top: 0px;
  position: relative;
  height: 250px;
}
.episode-summary {
  font-size: 1.4rem;
}
.no-impression {
  font-size: 2.4rem;
}
}
 