@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.jumbotron {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(mitano.jpg);
	background-size: cover;
	// 背景画像の位置を決める
	background-position: 50% 50%;
	height: 520px;
	color: white;
}

.display-3 {
	color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 3.4;
    font-size: 100px;
}

.sub-title{
	color: white;
    margin-top: 9px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.7;
    margin-left: 1.1rem;
    font-size: 2rem;
}

.jumbotron .container .row{
    margin-top: 100px;
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(mitano.jpg);
}

.container {
    background-image:url(start.jpg);
    color: white;
    height: 450px;
}

.navbar {
    background: #fff;
}

.container-login {
    background-image:url(start.jpg);
    color: white;
}
.navbar-default {
background-color: black;
border-color: #3e6962;
    z-index: 10;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 13px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

//navbar-deviseのcss
.navbar-devise {
    background: #fff;
    border-color: #fff;
    z-index: 10;
}

.navbar-devise .navbar-nav > li > a {
    color: #222222;
    font-size: 13px;
}

.navbar-devise .navbar-brand {
    color: #222222;
}


// トップページのnavbarのドロップダウンがクリックされた時
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #555;
}

body {
    color: #222;
    background-color: #F8F8F8;
}

//facebookボタン
.btn-facebook {
    color: #fff;
    background-color: #4c66a4;
}

@media (min-width: 992px){
.profile-full {
        width: 100%;
    }    
}   
.profile-0 {
    width: 28px;
    height: 28px;
}

.row-space-1 {
  margin-bottom: 10px;
}

.row-space-2 {
  margin-bottom: 15px;
}

.row-space-3 {
  margin-bottom: 20px;
}

.row-space-4 {
  margin-bottom: 25px;
}

.btn-full {
    width: 100%;
}

.vertification-checked:before{
  content: "\f00c";
  font-family: FontAwesome;
  position: relative;
  z-index: 100;
  top:2px;
  font-size: 1.55em;
  text-align: center;
  width: 1.25em;
  color: #00d1c1;
}
