.ribbon {
    position: relative;
    color: #ffffff ;
    background: #ec524e;
    font-size: 16pt ;
    line-height: 1;
    margin: 20px -10px 20px -10px;
    padding: 10px 5px 10px 20px;
    box-shadow:1px 3px 7px 0px  #ccc ;
    border-top:3px solid #ea9878;
}
.ribbon:after, .ribbon:before {
    content: &amp;quot;&amp;quot;;
    position: absolute;
    top: 100%;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top: 5px solid #bb2925;
}
.ribbon:after {
    left: 0;
    border-right: 5px solid #bb2925;
}
.ribbon:before {
    right: 0;
    border-left: 5px solid #bb2925;
}